h1 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

header {
  font-family: 'Bad Script', cursive;
}

nav li {
  list-style:none;
  display: inline-block;
  float: left;
  margin-right: 10%;
}

nav {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.profile {
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 125px;
  margin-bottom: 50px;

}

main {
  font-family: 'Open Sans Condensed', sans-serif;
}

ul {
  list-style: none;
}

section ul li a:visited {
  color: black;
}

section h2 {
  color: pink;
  text-align: left;
}

section {
  text-align: left;
}

.boxed {
  border: 1px solid pink;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.circle {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  color: white;
  text-align: center;
  background: black;
  line-height: 100px;
  float: left;
}

header nav a, a:visited {
  color: white;
}

.circle:hover {
  background-color:pink;
}

.center {
  text-align: center;
}
